.nodeInfo {
  position: absolute;
  padding: 10px;
  top: 0;
  right: 0;

  font-size: 10px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;

  .nodeType {
    color: #aaa
  }

  .nodeId {
    color: #555
  }

}
