(
    graph: (
        nodes: {
            1: Constant(20.0),
            8: PyNode((
                path: "/home/john/projects/gpi_v2/gpi_iced/nodes/load_py.py",
                ports: (
                    inputs: {
                        "freq": Real,
                    },
                    outputs: {
                        "out": Real2d,
                    },
                ),
            )),
            9: Plot2D((
                rect: (
                    center: (
                        x: 0.5,
                        y: 0.5,
                    ),
                    width: 1.0,
                    height: 1.0,
                ),
            )),
            10: Plot2D((
                rect: (
                    center: (
                        x: 0.5,
                        y: 0.5,
                    ),
                    width: 1.0,
                    height: 1.0,
                ),
            )),
            11: PyNode((
                path: "/home/john/projects/gpi_v2/gpi_iced/nodes/fft.py",
                ports: (
                    inputs: {
                        "a": Complex2d,
                    },
                    outputs: {
                        "out": Complex2d,
                    },
                ),
            )),
        },
        edges: [((
            node: 1,
            name: "out",
            io: Out,
        ), (
            node: 8,
            name: "freq",
            io: In,
        )), ((
            node: 8,
            name: "out",
            io: Out,
        ), (
            node: 9,
            name: "a",
            io: In,
        )), ((
            node: 8,
            name: "out",
            io: Out,
        ), (
            node: 11,
            name: "a",
            io: In,
        )), ((
            node: 11,
            name: "out",
            io: Out,
        ), (
            node: 10,
            name: "a",
            io: In,
        ))],
        next_id: 12,
    ),
    shapes: (
        camera: (
            position: (
                x: -65.19531,
                y: -10.966797,
            ),
            zoom: 1.0,
        ),
        shape_positions: {
            1: (
                x: 161.1875,
                y: 49.30625,
            ),
            8: (
                x: 90.38751,
                y: 189.30003,
            ),
            9: (
                x: 36.690674,
                y: 301.74994,
            ),
            10: (
                x: 338.453,
                y: 322.50616,
            ),
            11: (
                x: 289.2281,
                y: 186.39063,
            ),
        },
    ),
    selected_shape: Some(9),
    cursor_position: (
        x: -83.72813,
        y: 12.671875,
    ),
    config: 50.0,
    debug: false,
)