/** start TLDraw*/
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@500..700&display=swap");
@import url("tldraw/tldraw.css");

body {
  font-family: "Inter";
  margin: 0;
}

/** end TLDraw*/
/** fixes rendered equations from getting offset */
.katex-display {
  display: block;
  margin: 0 !important;
  text-align: center
}

body {
  background: #333
}
