/** start TLDraw*/
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@500..700&display=swap");
@import url("tldraw/tldraw.css");


body {
  font-family: "Inter";
  margin: 0;
  overflow: hidden;
  overscroll-behavior: none;
  background: #00000000;
  min-height: 100vh;
  min-height: -webkit-fill-available;
  border-radius: 4px;
  --border-radius: 8px;
  --window-radius: 8px;
}

.tldraw__editor {
  position: absolute;
  inset: 0;
  overflow: hidden;
  overscroll-behavior: none;
  touch-action: none;
  border-bottom-right-radius: var(--window-radius);
  border-bottom-left-radius: var(--window-radius);
}

.tl-theme__dark {
  --color-background: hsla(235, 5%, 6%, 1);
  --color-panel-contrast: #ffffff00;
  --panel-color: hsla(235, 5%, 24%, 0.95);
}

.tl-theme__light {
  --color-background: hsla(210, 20%, 98%, 1);
  --color-panel-contrast: #ffffff00;
  --panel-color: hsla(235, 6%, 98%, 0.95);
}


.tlui {
  background-color: var(--panel-color);
}

.tlui-menu-zone {
  background-color: var(--panel-color);
  border-radius: 0px 0px var(--border-radius) 0px;

  border: none;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 0px 2px 0px, rgba(0, 0, 0, 0.24) 0px 2px 3px 0px, rgba(0, 0, 0, 0.1) 0px 2px 6px 0px, rgba(255, 255, 255, 0) 0px 0px 0px 1px inset;
}

.tlui-toolbar__tools {
  background-color: var(--panel-color);
  border-radius: var(--border-radius);
}

.tlui-toolbar__extras__controls {
  background-color: var(--panel-color);
  border-top-left-radius: var(--border-radius);
  border-top-right-radius: var(--border-radius);
  border: none;
  border-bottom: 2px solid #ffffff00
}

.tlui-style-panel {
  background-color: var(--panel-color);
  border-radius: var(--border-radius);
  border: none;
}

.tlui-help-menu {
  background-color: var(--panel-color);
  border-radius: 50px;
  border: none;
}

.tlui-navigation-panel::before {
  background-color: var(--panel-color);
  border-top-right-radius: var(--border-radius);
  border: none;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 0px 2px 0px, rgba(0, 0, 0, 0.24) 0px 2px 3px 0px, rgba(0, 0, 0, 0.1) 0px 2px 6px 0px, rgba(255, 255, 255, 0) 0px 0px 0px 1px inset;
}


.titlebar {
  height: 30px;
  /**background: hsla(238, 6%, 18%, 0.75);*/
  background: hsla(238, 6%, 18%, 1);
  user-select: none;
  display: flex;
  justify-content: flex-end;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  pointer-events: all;
  border-top-right-radius: var(--window-radius);
  border-top-left-radius: var(--window-radius);
}

.titlebar-button {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  border-radius: var(--window-radius);
}

.titlebar-button:hover {
  background: #ffffff33;
}


/** fixes rendered equations from getting offset */
.katex-display {
  display: block;
  margin: 0 !important;
  text-align: center
}
